# Configuration de la base de données
# DATABASE_URL=sqlite:///./stop_abos.db

# Configuration JWT
# SECRET_KEY=your_secret_key_here
# ACCESS_TOKEN_EXPIRE_MINUTES=1440

# Configuration SMTP (Brevo recommandé en production)
SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM=noreply@stop-abos.fr
SMTP_USE_TLS=true

# Configuration Frontend
FRONTEND_URL=http://localhost:5173

# Configuration Reset Password
PASSWORD_RESET_TOKEN_EXPIRE_MINUTES=30
